
<p>Showing Rentals Information of Customer->{{customer.firstName}}</p>
<h4>Address -></h4>  <p>{{customer.address}}</p>
<h4>City -></h4><p>{{customer.city}}</p>
<h4>Country -></h4><p>{{customer.country}}</p>
<h4>District</h4><p>{{customer.district}}</p>
<h4>First Name</h4><p>{{customer.firstName}}</p>
<h4>Last Name</h4><p>{{customer.lastName}}</p>
<h4>Phone</h4><p>{{customer.phone}}</p>
<div class="table">

    <table id="customerRentalList" class="display" cellspacing="0" width="97%"></table>
</div>
<router-outlet></router-outlet>



    